$main-color: #345ff6;
$text-color: #253347;
$secondary-text-color: #5e6e85;
$border-color: #d8e2e7;
$white-color: #ffffff;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-48: 48px;
$font-size-64: 64px;
$main-font-family: "inter";
$global-font-style: normal;
$font-weight-400: 400;
$font-weight-600: 600;
